{% extends "base.html" %}
{% block title %} Login Page {% endblock %}
{% block content %}

<form method="POST">
    <h2 class="home-name"> Login page</h2>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
   
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <p> {{m}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
 {% endblock %}