{% extends "base.html" %}
{% block title %} User Page {% endblock %}
{% block content %}
<h2> Hello {{user}} to page PythonFlask</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <p> {{m}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <form action="#" method="POST">
        <label for="">Entrez Email</label><br>
        <input type="text" name="email" value="{{email if email}}"><br>
        <button type="submit"> Save</button>
    </form>
         
</div>
 {% endblock %}